<p id="notice"><%= notice %></p>

<% price = 0 %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
        <h3>
            <small>Mon panier</small>
        </h3>
    </div>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead class="">
                            <th class="text-center">
                            </th>
                            <th>
                                Produit
                            </th>
                            <th>
                                Marque
                            </th>
                            <th class="text-right">
                                Prix
                            </th>
                            <th class="text-right">
                                Quantité
                            </th>
                            <th class="text-right">
                                Montant
                            </th>
                        </thead>
                        <tbody>
                          <% @basket.line_items.each do |item| %>
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="http://www.kittycatconnection.org/uploads/1/6/8/9/16894946/header_images/1532312571.jpg" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#jacket"><%= item.product.title %></a>
                                    <br />
                                    <small>Réf : <%= item.product.reference %></small>
                                </td>
                                <td>
                                    <%= item.product.brand %>
                                </td>
                                <td class="td-number">
                                    <%= item.product.price %><small>€</small>
                                </td>
                                <td class="td-number">

                                    <div class="btn-group">
                                        <button class="btn btn-info btn-sm btn-dribbble mr-2"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                          <%= item.quantity %>
                                        <button class="btn btn-info btn-sm btn-dribbble ml-2"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                    </div>
                                </td>
                                <td class="td-number">
                                    <%= item.product.price * item.quantity %><small>€</small>
                                </td>
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-neutral">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <% price += (item.product.price * item.quantity) %>
                          <% end %>
                            <tr>
                                <td colspan="3">
                                </td>
                                <td class="td-total">
                                    Total
                                </td>
                                <td class="td-price">
                                    <%= price %><small>€</small>
                                </td>
                                <td colspan="3" class="text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-dribbble">
                                        Compléter l'achat
                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<h2>Mon panier</h2>


<table>
  <thead>
    <tr>
      <th>Produits</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Quantités</th>
      <th>Réference</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @basket.line_items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= item.product.description %></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.reference %></td>
        <td><i class="fas fa-plus"></i></td>
        <td><a href="<%= products_path %>"><i class="fas fa-minus"></i></a>
        <td><i class="fas fa-trash-alt"></i></td>
        <% price += (item.product.price * item.quantity) %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Le total de votre panier est de <strong><%= price %> €</strong></p>

<p><%= link_to "Retour aux produits", products_path %></p>
