<p id="notice"><%= notice %></p>

<h1>Facturations</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturations.each do |facturation| %>
      <tr>
        <td><%= facturation.price %></td>
        <td><%= link_to 'Show', facturation %></td>
        <td><%= link_to 'Edit', edit_facturation_path(facturation) %></td>
        <td><%= link_to 'Destroy', facturation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facturation', new_facturation_path %>
