<p id="notice"><%= notice %></p>

<div class="container mt-5"><br/><br/><br/><br/>
  <h1>Factures</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br/>
    </div>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                            <th class="text-left">
                                N° de facture
                            </th>
                            <th class="text-center">
                                Date de facturation
                            </th>
                            <th class="text-right">
                                Prix total
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                          <% User.find(current_user.id).facturations.each do |bill| %>
                            <tr>
                                <td class="td-name">
                                    <a><%= bill.id %></a>
                                </td>
                                <td class="td-number text-center">
                                    <%= bill.created_at %>
                                </td>
                                <td class="td-number">
                                  <%= bill.price %><small>€</small>
                                </td>
                                <td>
                                  <%= button_to 'Voir la facture', facturation_path(bill), class: 'btn btn-neutral', method: :get %>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
