<body class="contact-page">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image:url(<%= asset_url 'devise/cat8' %>)">
            </div>
        </div>
        <div class="main">
            <div class="contact-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <h2 class="title">Editer mon compte</h2>
                            <p class="description">Dans cet espace, vous pouvez supprimer des trucs, modifier des trucs, ajouter des trucs, et même supprimer votre compte si vous êtes pas contents d'être ici.
                                <br>
                                <br>
                            </p>
                              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                              <%= render "devise/shared/error_messages", resource: resource %>
                              <label>Prénom</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <%= f.text_field :first_name, autocomplete: "first_name", class:"form-control", placeholder:"Prénom" %>
                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>En attente de confirmation pour: <%= resource.unconfirmed_email %></div>
                                  <% end %>
                              </div>
                              <label>Nom</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <%= f.text_field :last_name, autocomplete: "last_name", class:"form-control", placeholder:"Nom" %>
                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                  <% end %>
                              </div>
                              <label>Nom d'utilisateur</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <%= f.text_field :username, autocomplete: "username", class:"form-control", placeholder:"Nom d'utilisateur" %>
                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                  <% end %>
                              </div>
                              <label>Date de naissance</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <%= f.date_field :birthdate, autocomplete: "birthdate", class:"form-control" %>
                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                  <% end %>
                              </div>
                              <label>Email</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                  </div>
                                  <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"Email..." %>
                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                  <% end %>
                                </div>
                                <label>Ancien mot de passe</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                                    </div>
                                    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Mot de passe actuel" %>
                                </div>
                                <label>Nouveau mot de passe</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                                    </div>
                                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Nouveau mot de passe" %>
                                </div>
                                <label>Confirmation du nouveau mot de passe</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                                    </div>
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmation du mot de passe" %>
                                </div>
                                <div class="submit text-center mt-3">
                                    <%= f.submit "Editer", class:"btn btn-primary btn-round btn-lg" %>
                                </div>
                              <% end %>
                        </div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class="info info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons location_pin"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Alors tu kiffes les chats ?</h4>
                                    <p> Dr. LaChatte
                                        <br> 7652 Bucharest,
                                        <br> Romania
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="now-ui-icons tech_mobile"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Tu cherchais un autre type de chats ?</h4>
                                    <p> Michael Chapin
                                        <br> +40 762 321 762
                                        <br> Mon - Fri, 8:00-22:00
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="business_briefcase-24 now-ui-icons"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Informations légales</h4>
                                    <p> Teach Bitch Entertainment. Ltd.
                                        <br> VAT &middot; EN2341241
                                        <br> IBAN &middot; EN8732ENGB2300099123
                                        <br> Bank &middot; Great Britain Bank
                                    </p>
                                </div>
                                <p class="text-dark mt-3">Pas satisfait ?
                                  <%= link_to "Supprimer mon compte", registration_path(resource_name), :class  => "link", data: { confirm: "Êtes-vous sûr?" }, method: :delete %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
