<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> client : <%= @user.first_name %> <%= @user.last_name %> </h1>
    <%= puts "je rentre dans admin_bill_email.html.erb apres @user.email" %>
    <p>
      Vient d'acheter les produits suivant :
    </p>
      <%= puts "je rentre dans admin_bill_email.html.erb apres @facturation.basket.product.title" %>
      <ul>
      <% @facturation.basket.line_items.all.each do |line| %>
      <li>
      <p><%= line.product.title %> : <%= line.product.price %> € X <%= line.quantity %> = <%=line.product.price*line.quantity%> €</P>
      </li>
      <% end %>
      </ul>
      <p>
        pour la somme de :<b> <%= @facturation.price %> €</b>.
      </p>
    <p>
      Pour accéder à ton espace admin, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur catpeach.fr !</p>
  </body>
</html>
