<body class="contact-page">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image:url(<%= asset_url 'devise/cat8' %>)">
            </div>
                <div class="content-center">
                  <h1 class="title">Plus de 1200 photos de chats à portée de panier.</h1>
                </div>
            </div>
            </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="collapse-panel">
            <div class="card-body">
              <div class="card card-refine card-plain">
                <h4 class="card-title">
                  Affiner la recherche
                  <button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
                    <i class="arrows-1_refresh-69 now-ui-icons"></i>
                  </button>
                </h4>
                <div class="card-header" role="tab" id="headingOne">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Fourchatte de prix
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </h6>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                    <span id="price-left" class="price-left pull-left" data-currency="&euro;">100</span>
                    <span id="price-right" class="price-right pull-right" data-currency="&euro;">850</span>
                    <div class="clearfix mb-2"></div>
                    <div id="sliderRefine" class="slider slider-refine"></div>
                  </div>
                </div>
              </div>
              <!-- Checkbox 'Marques' -->
              <div class="card card-refine card-plain">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Marque
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </h6>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body">
                    <div class="checkbox">
                      <input id="checkbox_brand" type="checkbox">
                      <label for="checkbox_brand">
                        Toutes <3
                      </label>
                    </div>
                    <!-- Boucle pour les marques -->
                    <% @products.each do |product| %>
                    <div class="checkbox">
                      <input id="checkbox_" type="checkbox">
                      <label for="checkbox_">
                        <%= product.brand %>
                      </label>
                    </div>
                    <% end %>
                    <!-- Fin de boucle -->
                  </div>
                </div>
              </div>
              <!-- Fin Checkbox 'Marques' -->
              <!-- Checkbox 'Catégories' -->
              <div class="card card-refine card-plain">
                <div class="card-header" role="tab" id="headingfour">
                  <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                      Cat-égories
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </h6>
                </div>
                <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour">
                  <div class="card-body">
                    <div class="checkbox">
                      <input id="checkbox_cat" type="checkbox">
                      <label for="checkbox_cat">
                        Toutes
                      </label>
                    </div>
                    <% @categories.each do |category| %>
                    <div class="checkbox">
                      <input id="checkbox_<%=category.id%>" type="checkbox">
                      <label for="checkbox_<%=category.id%>">
                        <%= category.title %>
                      </label>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- Fin Checkbox 'Catégories' -->
            </div>
          </div>
        </div>



        <!-- Carte Produit -->
        <div class="col-md-9">
          <div class="row">
          <% @products.each do |product|%>
          <div class="col-lg-4 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a href="/products/<%= product.id %>">
                  <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2901.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category"><%= product.brand %></h6>
                <h5 class="card-title">
                  <div class="card-link "><%= product.title %></div>
                </h5>
                <div class="card-footer ">
                  <div class="price-container">
                    <span class="price "><%= product.price %>€</span>
                  </div>
                  <div class="row">
                    <span><%= button_to 'Voir le produit', product_path(product), class: 'btn btn-neutral', method: :get %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end%>
          </div>
        </div>

        <!-- Fin de la Carte Produit -->
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript">
    $(document).ready(function() {

      var slider2 = document.getElementById('sliderRefine');

      noUiSlider.create(slider2, {
        start: [69, 666],
        connect: true,
        range: {
          'min': [30],
          'max': [900]
        }
      });

      var limitFieldMin = document.getElementById('price-left');
      var limitFieldMax = document.getElementById('price-right');

      slider2.noUiSlider.on('update', function(values, handle) {
        if (handle) {
          limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
        } else {
          limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
        }
      });
    });
  </script>
