
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Page product#show </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <!-- notre css -->
    <link href="../assets/stylesheets/application.css" rel="stylesheet" />

</head>

<body class="product-page">

    <div class="wrapper">

        <div class="section">
            <div class="container">
                <a href="<%= products_path %>"><i class="now-ui-icons arrows-1_minimal-left"></i> Retour vers l'index</a>
                <div class="row">
                    <div class="d-flex align-content-stretch flex-wrap">
                        <div class="col-md-6 d-flex align-content-center flex-wrap">
                            <img class="d-block img-raised align-self-center" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2942.jpg">
                        </div>
                        <div class="col-md-5 ml-auto mr-auto">
                            <h2 class="title"><%= @product.title %></h2>
                            <h5 class="category">Futur Brand - <%= @product.category.title %> </h5>
                            <h2 class="main-price"><%= @product.price.round(2) %>€</h2>
                            <% if @product.quantity.to_i > 0 %>
                            <div class="card-collapse justify-content-start">
                                <button class="btn btn-primary" href="<%=  new_basket_path(:product_id => @product.id)%>">Add to Basket &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
                            </div>
                            <% else %>
                            <h6>Out of stock</h6>
                            <%end%>
                            <div class="card-collapse">
                                <div class="card card-plain">
                                    <div class="card-header">
                                    Description
                                    </div>
                                    <div class="card-body">
                                        <p><%= @product.description %></p>
                                    </div>
                                    <div class="card-header">
                                    Reference : <%= @product.reference %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- pour l'instant je laisse data-background-color="black" parce que quand je le retire ça ne recupere pas le css de la class section.related-products -->
        <div class="section related-products" data-background-color="black">
            <div class="container">
                <h3 class="title text-center">You may also be interested in:</h3>
                <div class="row">

                          <div class="col-sm-6 col-md-3">
                              <div class="card card-product">
                                  <div class="card-image">
                                      <a href="#">
                                          <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2901.jpg" />
                                      </a>
                                  </div>
                                  <div class="card-body">
                                      <h6 class="category">Sphinx</h6>
                                      <h5 class="card-title">
                                          <div class="card-link "><%= @product.title %></div>
                                      </h5>
                                      <div class="card-footer d-flex justify-content-between align-items-center">
                                   
                                          <div class="price-container">
                                              <span class="price "><%= @product.price.round(2) %>€</span>
                                          </div>
                                          <div class="row justify-content-center">
                                              <button class="btn btn-neutral">See Product &nbsp;</button>
                                          </div>
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>

                
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2902.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="category">Scottish Fold</h6>
                                <h5 class="card-title">
                                    <a href="#pablo" class="card-link"><%= @product.title %></a>
                                </h5>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                             
                                    <div class="price-container">
                                        <span class="price "><%= @product.price.round(2) %>€</span>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-neutral">See Product &nbsp;</button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="http://www.totems-scouts.be/pics/totems/1394650360_sphynx.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="category">Sphinx</h6>
                                <h5 class="card-title">
                                    <a href="#pablo" class="card-link"><%= @product.title %></a>
                                </h5>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                             
                                    <div class="price-container">
                                        <span class="price "><%= @product.price.round(2) %>€</span>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-neutral">See Product &nbsp;</button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2903.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="category">Siamois</h6>
                                <h5 class="card-title">
                                    <a href="#pablo" class="card-link"><%= @product.title %></a>
                                </h5>

                                <div class="card-footer d-flex justify-content-between align-items-center">
                             
                                    <div class="price-container">
                                        <span class="price "><%= @product.price.round(2) %>€</span>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button class="btn btn-neutral">See Product &nbsp;</button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
       
    </div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/moment.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="../assets/js/plugins/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>

</html>