<main>
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <a href="<%= products_path %>"><i class="now-ui-icons arrows-1_minimal-left"></i> <span>Retour vers l'index</span></a>
        <div class="row">
          <div class="d-flex align-content-stretch flex-wrap">
            <div class="col-md-6 d-flex align-content-center flex-wrap">
              <img class="d-block img-raised align-self-center" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2942.jpg">
            </div>
            <div class="col-md-5 ml-auto mr-auto">
              <h2 class="title"><%= @product.title %></h2>
              <h5 class="category"><%= @product.brand %> </h5>
              <h2 class="main-price"><%= @product.price %><small>€</small></h2>
              <% if @product.quantity.to_i > 0 %>
                <% if user_signed_in? %>
                <div class="card-collapse justify-content-start">
                  <span><%= button_to 'Ajouter au panier', line_items_path(product_id: @product), class: 'btn btn-dribbble btn-round' %></span>
                </div><br/>
                <% else %>
                <div class="card-collapse justify-content-start">
                  <span><%= button_to 'Ajouter au panier', new_user_session_path, class: 'btn btn-dribbble btn-round' %></span>
                </div><br/>
                <% end %>
              <% else %>
              <h6>Out of stock</h6>
              <%end%>
              <div class="card-collapse">
                <div class="card card-plain">
                  <div class="card-header">
                    Description
                  </div>
                  <div class="card-body">
                    <p><%= @product.description %></p>
                    <% @all_cat_categories %>
                  </div>
                  <div class="card-header">
                    Reference : <%= @product.reference %>
                  </div>
                  <div class="card-header">
                    Categories :
                    <% @product.categories.each do |cat| %>
                    <span class="badge badge-neutral"><%= cat.title %></span>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section related-products" data-background-color="black" >
      <div class="container">
        <h3 class="title text-center">D'autres produits de la même catégorie ?</h3>
        <div class="row">
          <% @the_cats.sample(4).each do |product|%>

<<<<<<< HEAD
          <div class="col-sm-6 col-md-3">
=======
          <div class="col-lg-4 col-md-6">
>>>>>>> master
            <div class="card card-product">
              <div class="card-image">
                <a href="/products/<%= product.id %>">
                  <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2901.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category"><%= product.brand %></h6>
                <h5 class="card-title">
                  <div class="card-link "><%= product.title %></div>
                </h5>
                <div class="card-footer ">
                  <div class="price-container">
                    <span class="price "><%= product.price %>€</span>
                  </div>
                  <div class="row">
                    <span><%= button_to 'Voir le produit', product_path(product), class: 'btn btn-neutral', method: :get %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end%>
          <!--  les anciennes cards fake avec les anciennes images

          <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2903.jpg" />
          <img class="img rounded" src="http://www.totems-scouts.be/pics/totems/1394650360_sphynx.jpg" />
          <img class="img rounded" src="https://static.wamiz.fr/images/animaux/chats/large/sphynx-2902.jpg" />
        -->
      </div>
    </div>
  </div>
</div>
</main>
