<!DOCTYPE html>
 <html>
  <head>
   <%= render 'layouts/head' %>
  </head>

  <body>
   <header>
    <%= render 'layouts/navbar' %>
   </header>

 <!-- Alerts -->
  <%= render 'layouts/alerts' %>
 <!-- Alerts -->

<%= yield %>

  <!-- Footer -->
   <%= render 'layouts/footer' %>
  <!-- Footer -->

  </body>
</html>
